services:
  redis:
    image: redis:8-alpine
    container_name: redis-standalone
    command: >
      redis-server
      --appendonly yes
      --protected-mode no
      --bind 0.0.0.0
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: always

volumes:
  redis-data:
